/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #343a40, #212529
GREY COLOR: #ffc078, #ffa94d, #ff922b
*/

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.main-header {
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-full {
  width: auto;
  height: 18rem;
  margin: 1rem;
}

.main-nav-btn {
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-list {
  display: flex;
  list-style: none;
}

.list-item:link,
.list-item:visited {
  display: block;
  border: 0.5rem solid #ff922b;
  margin: 1rem;
  padding: 4rem;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #ff922b;
  transition: all 300ms;
}

.list-item:hover,
.list-item:active {
  color: #212529;
  background-color: #ff922b;
}

/* HOME */

#home-section {
  position: relative;
  text-align: center;
}

.home-section-background-image {
  display: block;
  height: 90rem;
  width: 100%;
}

.home-section-header {
  position: absolute;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff922b;
  font-size: 4rem;
  font-weight: 700;
  background-color: rgba(33, 37, 41, 0.85);
  padding: 5rem;
  transition: all 900ms;
}

/* SPECIALS */

.specials-section {
  background-color: #212529;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.specials-one,
.specials-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.5rem;
}

.specials-text-content1,
.specials-text-content2 {
  max-width: 67.5rem;
  padding: 3.5rem;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.specials-header {
  color: #ff922b;
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.specials-paragraph {
  color: #ffa94d;
  font-size: 3rem;
  font-weight: 500;
}

.specials-image1,
.specials-image2 {
  display: block;
  width: 45%;
  height: auto;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.specials-image1,
.specials-text-content2 {
  opacity: 0;
  transform: translateX(30rem);
}

.specials-image2,
.specials-text-content1 {
  opacity: 0;
  transform: translateX(-30rem);
}

/* MENU */

#menu-section {
  position: relative;
}

.menu-background-image {
  display: block;
  width: 100%;
  height: 120rem;
}

.menu-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 70%;
  box-shadow: 1.5rem 2rem 2rem;
  border-radius: 2%;
  opacity: 0;
  background-color: aliceblue;
  transform: translateX(-30rem);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu-box h1 {
  color: #ff922b;
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
}

.menu-icons {
  display: block;
  height: 9.6rem;
  width: auto;
}

.menu-items-container-1,
.menu-items-container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hot-dogs,
.entrees,
.sides,
.deserts {
  width: 34rem;
  height: 45rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu-items-header {
  color: #ff922b;
  font-size: 3.6rem;
  font-weight: 700;
}

.menu-items-list {
  color: #212529;
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
}

.menu-items-list p {
  color: #343a40;
  font-size: 1.6rem;
  font-weight: 400;
}

/* CONTACT */

#contact-section {
  background-color: #212529;
  display: flex;
  padding: 12rem;
  justify-content: space-around;
  align-items: center;
}

.contact-items1,
.contact-items2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 6rem;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.contact-items1 {
  opacity: 0;
  transform: translateX(-30rem);
}

.contact-items2 {
  opacity: 0;
  transform: translateX(30rem);
}

.contact-items-header {
  color: #ff922b;
  font-size: 3.6rem;
  font-weight: 700;
}

.contact-items1 a:link,
.contact-items1 a:visited {
  color: #ff922b;
  border: 0.5rem solid #ff922b;
  padding: 2rem;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 300ms;
}

.contact-items1 a:hover,
.contact-items1 a:active {
  color: #212529;
  background-color: #ff922b;
}

.contact-items2 a:link,
.contact-items2 a:visited {
  color: #ff922b;
  border: 0.5rem solid #ff922b;
  padding: 2rem;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 300ms;
}

.contact-items2 a:hover,
.contact-items2 a:active {
  color: #212529;
  background-color: #ff922b;
}

/* APPLY */

#apply-section {
  background-color: #ffa94d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12rem 3.5rem;
}

.apply-logo {
  display: block;
  height: 40rem;
  width: auto;
  opacity: 0;
  transform: translateX(-30rem);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.apply-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateX(30rem);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.apply-info h2 {
  color: #212529;
  font-size: 4rem;
  width: 65rem;
  font-weight: 700;
}

.apply-info a:link,
.apply-info a:visited {
  color: #212529;
  border: 0.5rem solid #212529;
  padding: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 5rem;
  transition: all 300ms;
}

.apply-info a:hover,
.apply-info a:active {
  color: #ff922b;
  background-color: #212529;
}

/* FOOTER */

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /*change to center on small screen */
  color: #ffc078;
  background-color: #212529;
  padding: 4rem;
}

.footer-icon {
  display: block;
  height: 5rem;
  width: auto;
  margin: 0 0 3rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column; /*change to row on small screen */
  list-style: none;
}

.footer-nav-list a:link,
.footer-nav-list a:visited {
  display: block;
  margin: 0 2rem 3rem 2rem;
  text-decoration: none;
  color: #ffc078;
  transition: all 300ms;
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: #ff922b;
}

.footer-section small {
  font-size: 1.6rem;
  font-weight: 400;
}

/* QUERIES */

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }

  .menu-box {
    width: 85%;
  }

  #contact-section {
    flex-direction: column;
  }

  .contact-items {
    margin-bottom: 6rem;
  }
}

@media (max-width: 944px) {
  html {
    font-size: 8px;
  }

  .main-header {
    position: relative;
    flex-direction: column;
    align-items: stretch;
  }

  .main-nav {
    background-color: #212529;
    max-height: 0rem;
    transform: translateY(19rem);
    width: 100%;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    transition: max-height 400ms ease-in-out;
  }

  .main-nav.main-nav-animate {
    max-height: 60rem;
  }

  .main-nav-btn {
    display: block;
    cursor: pointer;
    height: 12rem;
    stroke: #ff922b;
    transition: transform 400ms;
  }

  .main-nav-btn.btn-animate {
    transform: rotate(90deg);
  }

  .main-nav-list {
    flex-direction: column;
    text-align: center;
  }

  #apply-section {
    flex-direction: column;
  }

  .apply-logo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 704px) {
  html {
    font-size: 7px;
  }

  .specials-one {
    flex-direction: column-reverse;
  }
  .specials-two {
    flex-direction: column;
  }

  .specials-image1,
  .specials-image2 {
    width: 85%;
  }
}

@media (max-width: 544px) {
  html {
    font-size: 6px;
  }

  .apply-info h2 {
    width: 80%;
  }

  .footer-section {
    align-items: center; /*change to center on small screen */
  }

  .footer-nav-list {
    flex-direction: row; /*change to row on small screen */
  }
}

@media (max-width: 444px) {
  .specials-image1,
  .specials-image2 {
    width: 95%;
  }

  .menu-box {
    width: 90%;
  }

  .hot-dogs,
  .entrees,
  .sides,
  .deserts,
  h2 {
    font-size: 3.24rem;
  }

  .menu-items-list {
    font-size: 2.16rem;
  }

  .menu-items-list p {
    font-size: 1.44rem;
  }
}

/*MAIN ANIMATION CLASS*/
.animate {
  opacity: 1;
  transform: translateX(0rem);
}
